
.container {
    width: 80%;
    max-width: 670px;
    height: 70vh;
    background-color: #ffffff;
    margin: auto;
    margin-top: 5%; 

    border-radius: 20px;
    box-shadow: 10px 10px 27px 1px rgba(64,61,61,0.75);
-webkit-box-shadow: 10px 10px 27px 1px rgba(64,61,61,0.75);
-moz-box-shadow: 10px 10px 27px 1px rgba(64,61,61,0.75);
    display: flex;
    justify-content: center;
    align-items: center;

}

.fields {
    margin: 1% 20%;
}

.fields__title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#fields__title > p{
    font-size: 10px;
    font-weight: bold;
    color: rgb(26, 26, 26);    
}

.fields__textboxs{
    display: flex;
    flex-direction: column;
    height: 120px;
    align-items: center;
    justify-content: center;
}

.fields__textboxs input{
    height: 40px;
    width: 250px;
    border: 1px solid silver;
    border-radius: 10px;
    margin-bottom: 3%;
}

.fields__remember{
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.fields__remember > input {
    margin: 0 8px;
}

#btnRecuperar{
    width: 75%;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15%;
}

.fields__buttons {
    display: flex;
    justify-content: center;
}


#btnRecuperar > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.fields__recovery > a, .fields__create > a {
    text-decoration: none;
    color: rgb(44, 44, 44);
    font-size: 14px;
}

.fields__recovery {
    display: flex;
    justify-content: center;
}

.fields__create {
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logo > img {
    height: 50px;
}