@media screen and (min-width:670px){
    .container{
        margin-top: 40px;
    }

    #fields__title{
        font-size: 20px;  
        margin-bottom: 20px; 
    }

    .fields__textboxs {
        height: 160px;
    }

    .fields__textboxs > input {
        height: 45px;
        width: 400px;
    }

    #btnRecuperar{
        padding: 16px;
        margin-bottom: 10%;
        width: 90%;
    }

    #btnRecuperar > a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
    }
    


    .fields__recovery {
        margin-bottom: 50px;
    }


}