header.menu{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: auto !important;
}

.container{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.container :not(:first-child){
    margin-top: 20px;
}

.photo,
.description,
.counter__friends,
.counter__community {
    width: 60%;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid rgb(165, 162, 162);
    border-radius: 10px;
} 

.photo{
    height: 500px;
    border-top-right-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
}

/*
.photo > * {
   border: 1px solid black;
}
*/

.photo__avatar > img{
    border-radius: 15px;
}

.photo__tools > div > i {
    margin-right: 15px;
}

.photo__name > h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.description{
    height: 720px;
    max-width: 650px;
}

.counter__friends,
.counter__community{
    height: 350px;
    width: 340px;
}

header > nav {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 5px auto;
    padding: 4px;
}

header > nav > #title > h1 {
    font-size: 40px;
}

header > nav > #hamburguer >label {
    font-size: 40px;

}